@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1F2937;
}

/* All About Navbar At Top  */

ul {
    list-style-type: none;
    text-decoration: none;

}

li {
    color: #F9FAF8
    text-decoration: none;

}

a {
    text-decoration: none;
}

a:visited {
    color: #F9FAF8;
}

.navbar {
    display: flex;
    justify-content: center;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 20px;
}

.right-links {
    display: flex;
    margin-left: auto;
    gap: 8px;
}

.left-links {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

/* All about main Body  */

.container {
    display: flex;
    height: 400px;
    /* background-color: lightgray; */
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 20px;
    justify-content: flex-start;
    align-items: center;
}

.bodytext {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    margin-left: 20px;

}

.hero {
    font-family: 'Roboto';
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
    text-align: start;
}

p {
    color: #F9FAF8;
}

button {
    max-width: 150px;
    height: 50px;
    border-radius: 8px;
    background-color: #3882F6;
    color: #fff;
    font-weight: 900;
    font-size: 16px;
    border: none;
}


/* Random Information Part  */
 .random {
    background-color: #fff;
    display: block;
    justify-content: center;
    align-items: center;
    height: 400px;
    gap: 50px;
    flex-wrap: wrap;
 }

 .card {
    border: 3px solid #3882F6;
    border-radius: 20px;
    text-align: center;
    width: 150px;
    height: 170px;
    margin: 10px;
    padding: 10px;
 }

 .p1 {
    padding-top: 30px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;

 }

 .cards {
    display: flex;
    justify-content: center;
    gap: 52px;
 }

 .imgc {
    max-width: 100%;
    max-height: 100%;
 }

 .card1 {
    text-align: center;
    margin: 10px;
    padding: 10px;
    color: #333333b6;


 }

 .text {
    background-color: #fff;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
    gap: 20px;
 }

 
.info {
        max-width: 200px;
        max-height: 150px;
        background-color: #fff;
      }


/* Footer Started Here */

.foot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: #1F2937;
    color: #F9FAF8;
  
}


/* Quote Part Starts here */

.quote {
    height: 400px;
    background-color: #E5E7EB;
}